.btn {
  &-blue-500 {
    display: flex;
    gap: $spacing-xs-2;
    justify-content: center;
    align-items: center;
    border: none;
    padding: $spacing-xs-2 $spacing-sm-3;
    border-radius: $radius-sm;
    color: $white;
    background-color: $blue-500;
    height: torem(36);

    .icon {
      color: $white;
      width: torem(20);
      height: torem(20);
      font-size: $h6-2;
    }
  }

  &-default {
    display: flex;
    gap: $spacing-xs-2;
    justify-content: center;
    align-items: center;
    border: 1px solid $stroke-default-secondary;
    padding: $spacing-xs-2 $spacing-sm-3;
    border-radius: $radius-sm;
    color: $neutral-900;
    background-color: $white;
    height: torem(36);

    .icon,
    .icon-lower {
      width: torem(20);
      height: torem(20);
      font-size: $h6-2;
      color: $neutral-300;
    }

    .icon-lower {
      color: $neutral-900 !important;
    }

    &:hover {
      background-color: $neutral-100;
      color: $neutral-900;

      .icon {
        color: $neutral-900;
      }
    }
  }

  &-sidebar {
    width: 100%;
    display: flex;
    gap: $spacing-xs-2;
    justify-content: start;
    align-items: center;
    padding: $spacing-xs-2;
    border-radius: $radius-sm;
    font-size: $normal;
    color: $neutral-900;
    border: none;
    background-color: transparent;
    height: torem(36);

    .icon,
    .icon-lower {
      width: torem(20);
      height: torem(20);
      font-size: $h6-2;
      color: $neutral-300;
    }

    .icon-lower {
      color: $neutral-900 !important;
    }

    &:hover {
      background-color: $neutral-100;
      color: $neutral-900;

      .icon {
        color: $neutral-900;
      }
    }

    &.active {
      background-color: $neutral-100;

      .icon {
        color: $neutral-900;
      }
    }
  }

  &-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $spacing-sm-2;
    background-color: $white;
    border: none;
    border-radius: $radius-sm;
    font-size: $normal;
    box-shadow: $shadow-xs;
    height: torem(40);
  }
}
