.offcanvas {
  &-inventory {
    min-width: torem(1190);
    border-radius: $radius-md;

    .offcanvas-body {
      display: flex;
      padding: 0;
      flex-grow: 1;

      .btn-close {
        position: absolute;
        top: $spacing-sm-2;
        right: $spacing-sm-2;
        z-index: 1;
      }

      .offcanvas-sidebar {
        background-color: $neutral-50;
        min-width: torem(345);
        border-radius: $radius-md 0 0 $radius-md;
        padding: $spacing-xs-2 $spacing-lg;

        &-heading {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding-top: $spacing-md;
          padding-bottom: $spacing-md;
          gap: $spacing-sm-2;

          &-upper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            &-joborder {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;

              .text {
                font-size: $h6;
              }

              .copy {
                font-size: $small;
                color: $blue-600;
                cursor: pointer;

                &-icon {
                  font-size: $basefont;
                  color: $blue-600;
                }
              }
            }

            &-authordate {
              display: flex;
              justify-content: space-between;
              width: 100%;
              p {
                font-size: $small;
                margin-bottom: 0;
              }
            }
          }

          &-lower {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: $radius-sm;
            padding: torem(3);
            padding-top: $spacing-sm-2;
            background-color: $white;
            gap: $spacing-xs;

            .dropdown {
              width: 100%;
            }

            &-days {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 $spacing-xs-2;
              width: 100%;

              .days {
                color: $neutral-500;
              }
            }
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: start;
          align-items: start;
          padding-top: $spacing-md;
          padding-bottom: $spacing-md;
          gap: $spacing-xs-2;

          .title {
            font-size: $xsmall;
            color: $neutral-500;
          }

          .customer {
            display: flex;
            justify-content: center;
            align-items: end;
            gap: $spacing-xs-2;

            &-name {
              font-size: $basefont;
            }

            &-tag {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: $spacing-xs $spacing-xs-2;
              color: $success-600;
              background-color: $white;
              border-radius: $radius-xs;
              font-size: $small;
            }
          }

          .vehicle-name {
            font-size: $basefont;
          }

          .vehicle-info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $spacing-md;

            .data {
              min-width: 80px;
              color: $neutral-500;
            }
          }

          .vehicle-photos {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $spacing-xs-2;

            .photo {
              width: torem(85);
              height: torem(85);
              border-radius: $radius-sm;
            }
          }
        }
        .vehicle-history {
          display: flex;
          border-top: 1px solid $neutral-200;

          .history-bar {
            position: absolute;
            bottom: torem(20);
            height: torem(75);
            left: torem(2.49);
            width: torem(1);
            background-color: $neutral-200;
          }

          .history-details {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: $spacing-xs;

            .circle {
              width: torem(6);
              height: torem(6);
              border-radius: $radius-sm;
              color: $neutral-200;
              margin-top: torem(5);
              font-size: torem(6);
            }

            .history-text {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: $spacing-xs;
              
              .date-time {
                font-size: $small;
                color: $neutral-500;
              }

              .text {
                font-size: $small;
              }
            }
          }
        }
      }

      .offcanvas-main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: torem(20);
        flex-grow: 1;
        gap: $spacing-xs-2;

        &-heading {
          font-size: $h6;
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding: $spacing-md 0;
          gap: $spacing-md;
          width: 100%;

          .title {
            font-size: $basefont;
          }
        }

        &-invoice {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          padding: torem(20);
          gap: $spacing-xs-2;
          background-color: $base-gray;
          width: 100%;
          border-radius: $radius-sm;
        }
      }
    }
  }
}
