.offcanvas {
  &-inventory {
    min-width: torem(1190);
    border-radius: $radius-md;

    .offcanvas-body {
      display: flex;
      padding: 0;

      .btn-close {
        position: absolute;
        top: $spacing-sm-2;
        right: $spacing-sm-2;
        z-index: 1;
      }

      .offcanvas-sidebar {
        background-color: $neutral-50;
        min-width: torem(345);
        border-radius: $radius-md 0 0 $radius-md;
        padding: $spacing-xs-2 $spacing-lg;

        &-heading {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding-top: $spacing-md;
          padding-bottom: $spacing-md;
          gap: $spacing-sm-2;

          &-upper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            &-joborder {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;

              .text {
                font-size: $h6;
              }

              .copy {
                font-size: $small;
                color: $blue-600;
                cursor: pointer;

                &-icon {
                  font-size: $basefont;
                  color: $blue-600;
                }
              }
            }

            &-authordate {
              display: flex;
              justify-content: space-between;
              width: 100%;
              p {
                font-size: $small;
                margin-bottom: 0;
              }
            }
          }

          &-lower {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: $radius-sm;
            padding: torem(3);
            padding-top: $spacing-sm-2;
            background-color: $white;
            gap: $spacing-xs;

            .dropdown {
              width: 100%;
            }

            &-days {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 $spacing-xs-2;
              width: 100%;

              .days {
                color: $neutral-500;
              }
            }
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: start;
          padding-top: $spacing-md;
          padding-bottom: $spacing-md;
          gap: $spacing-xs-2;

          .title {
            font-size: $xsmall;
            text-transform: uppercase;
            color: $neutral-500;
          }

          .customer {
            display: flex;
            justify-content: center;
            align-items: end;
            gap: $spacing-xs-2;

            &-name {
              font-size: $basefont;
            }

            &-tag {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: $spacing-xs $spacing-xs-2;
              color: $success-600;
              background-color: $white;
              border-radius: $radius-xs;
              font-size: $small;
            }
          }

          .vehicle-name {
            font-size: $basefont;
          }

          .vehicle-info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $spacing-md;

            .data {
              min-width: 80px;
              color: $neutral-500;
            }
          }

          .vehicle-photos {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $spacing-xs-2;

            .photo {
              
            }
          }
        }
      }
    }
  }
}
