@import "../commons/configure";
@import "../commons/utils";

#content {
  background-color: $neutral-25 !important;

  .inventory {
    background-color: $white;
    border-radius: $radius-md 0 0 0;
  }
}
