$F1: "Inter";

$F1-Regular: #{$F1} Regular;
$F1-Medium: #{$F1} Medium;
$F1-SemiBold: #{$F1} SemiBold;
$F1-Bold: #{$F1} Bold;

/* COLORS
 *
 */
$primary: #0074d9;
$white: #fff;
$black: #000;
$danger: #ff4136;

$erp-gray-25: var(--gray-25);
$erp-gray-50: var(--gray-50);
$erp-gray-100: var(--gray-100);
$erp-gray-200: var(--gray-200);
$erp-gray-300: var(--gray-300);
$erp-gray-400: var(--gray-400);
$erp-gray-500: var(--gray-500);
$erp-gray-600: var(--gray-600);
$erp-gray-700: var(--gray-700);
$erp-gray-800: var(--gray-800);
$erp-gray-900: var(--gray-900);

$gray-neutral-200: #e5e7eb;

$primary-25: #fcfaff;
$primary-50: #f9f5ff;
$primary-100: #f4ebff;
$primary-200: #e9d7fe;
$primary-300: #d6bbfb;
$primary-400: #b692f6;
$primary-500: #9e77ed;
$primary-600: #7f56d9;
$primary-700: #6941c6;
$primary-800: #53389e;
$primary-900: #42307d;

$error-50: #fef3f2;
$error-100: #fee4e2;
$error-200: #fecdca;
$error-400: #f97066;
$error-500: #f04438;
$error-600: #d92d20;
$error-700: #b42318;

$warning-50: #fffaeb;
$warning-100: #fef0c7;
$warning-200: #fedf89;
$warning-400: #fdb022;
$warning-500: #f79009;
$warning-600: #dc6803;
$warning-700: #b54708;

$success-50: #ecfdf3;
$success-100: #d1fadf;
$success-200: #a6f4c5;
$success-300: #6ce9a6;
$success-400: #32d583;
$success-500: #12b76a;
$success-600: #039855;
$success-700: #027a48;
$success-900: #054f31;

$gray-iron-100: #f4f4f5;
$gray-iron-500: #70707b;
$gray-iron-800: #26272b;

$blue-500: #445aff;

$blue-dark-300: #3085e1;
$blue-dark-500: #2970ff;
$blue-dark-600: #155eef;

$orange-500: #ef6820;

$neutral-25: #f7f7f7;
$neutral-50: #eaeaea;
$neutral-100: #e6e6e6;
$neutral-200: #d9d9d9;
$neutral-300: #bdbdbd;
$neutral-400: #989898;
$neutral-500: #676767;
$neutral-600: #4e4e4e;
$neutral-700: #373737;
$neutral-800: #222222;
$neutral-900: #141414;

$text-700: #344054;

$stroke-default-secondary: #e6e6e6;

/* FONT SIZES
 * We should strictly follow the declared font sizes and should
 * avoid as much as possible doing custom font sizes.
 */
$basefont: torem(16);
$h1: torem(60);
$h2: torem(48);
$h3: torem(35);
$h4: torem(30);
$h5: torem(24);
$h6-2: torem(20);
$h6: torem(18);
$normal: torem(14);
$small-2: torem(14);
$small: torem(12);
$xsmall: torem(10);

/* SPACINGS
 * define our spacing. we should strictly follow this also
 */
$spacing-none: 0;
$spacing-xxs: torem(2);
$spacing-xs: torem(4);
$spacing-xs-1: torem(6);
$spacing-xs-2: torem(8);
$spacing-sm: torem(10);
$spacing-sm-2: torem(12);
$spacing-sm-3: torem(14);
$spacing-md: torem(16);
$spacing-md-2: torem(18);
$spacing-lg: torem(24);
$spacing-lg-2: torem(28);
$spacing-xlg: torem(32);
$spacing-xxlg: torem(48);
$spacing-xxxlg: torem(100);

$letter-spacing-Regular: -0.48px;

$radius-xs: torem(4);
$radius-sm: torem(8);
$radius-normal: torem(12);
$radius-md: torem(16);
$radius-lg: torem(24);
$border-radius-pill: torem(100);

$border-width: 1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);
$border-style: solid;
$border-color: $erp-gray-400;
$border-color-translucent: rgba($black, 0.175);

$avatar-sizes: (
  "xxs": torem(18),
  "sm": torem(24),
  "md": torem(32),
  "lg": torem(48),
);

/* Shadows */
// Focus Ring/Primary
$focus-ring-primary: 0px 0px 0px 2px #202a17;
// Shadow/xs
$shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
$shadow-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
  0px 1px 2px 0px rgba(16, 24, 40, 0.06);
$shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
  0px 4px 8px -2px rgba(16, 24, 40, 0.1);
$shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
  0px 12px 16px -4px rgba(16, 24, 40, 0.08);
$shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
  0px 8px 8px -4px rgba(16, 24, 40, 0.03);

$xxxs: torem(2);
$xxs: torem(4);
$xs: torem(8);
$sm: torem(12);
$m: torem(16);
$lg: torem(24);
$xl: torem(32);
