html,
body {
  min-height: 100vh;
}
body {
  * {
    color: var(--bs-body-color);
  }
  display: flex;
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.el-hide {
  opacity: 0;
  pointer-events: none;
  position: fixed !important;
  top: -100%;
  transition: none !important;
}
